html, body {
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
    padding: 5px;
    position: fixed;
    top: 0;
    width: 100%;
}

.header h2 {
    border: 1px solid black;
    padding: 11px;
    font-weight: lighter;
}

.header .navbar {
    display: flex;
    gap: 30px;
}

.header .navbar a {
    color: black;
    text-decoration: none;
}

.home-page-container  {
    text-align: center;
}

.home-page-container {
    margin-top: 200px;
}

.home-page-container .second-h3 {
    margin-top: 110px;
}

.home-page-container 
.home-background-image
img  {
    height: 350px;
}

.home-page-container .categories a img {
    height: 200px;
}

.home-page-container .categories a  {
   text-decoration: none;
   color: black;
}

.home-page-container .categories a p  {
   background-color: aliceblue;
   padding: 20px;
   width: 150px;
   border-radius: 20px;
}

.home-page-container .categories {
   text-align: center;
   display: grid;
   grid-template: 300px 300px / 250px 200px;
   padding-left: 33%;
   gap: 20px;
   margin-bottom: 50px;
}

.products-container
 {
    display: flex;
    gap: 300px;
    margin-top: 130px;
}

.products-container
.sidebar-container
.sidebar h4 {
    margin-top: 40px;
}

.products-container
.sidebar-container
.sidebar {
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    position: fixed;
    left: 0;
    height: 100%;
    padding: 5px;
}

.products-container
.sidebar-container
.sidebar a {
    text-decoration: none;
    color: black;
    margin-bottom: 30px;
}


.item-link .item img {
    width: 100px;
}

.item-link .item p {
    max-width: 200px;
}

.item-link {
    text-decoration: none;
    color: black;
}

.grocery-container {
    display: grid;
    grid-template: 350px 300px / 300px 300px 300px 300px;
    margin-top: 40px;
    
}

.star {
    font-size: larger;
}

.product-details {
    margin-top: 200px;
}

.product-details img {
    width: 300px;
    border: 5px solid whitesmoke;
    padding: 30px;
}

.product-details details {
    margin-bottom: 20px;
}

.product-details p {
    max-width: 400px;
}

.q-btn-container {
    display: flex;
    gap: 10px;
    align-items: center;
}

.q-btn-container button {
    border: none;
    border-radius: 100px;
    height: 20px;
    width: 20px;
    font-size: 16px;
}

.cart-btn {
    border: none;
    border-radius: 5px;
    padding: 10px;
    color: white;
    background-color: orange;
    width: 150px;
    margin-bottom: 100px;
}

.login-container, .sign-up-container {
    margin-top: 200px;
    text-align: center;
    background-color: papayawhip;
    width: 500px;
    margin-left: 500px;
    height: 350px;
    padding-top: 50px;
    border-radius: 10px;
}

.sign-up-container {
    height: 450px;
}

.login-container input, .sign-up-container input {
    outline-color: aqua;
    width: 400px;
    height: 15px;
    padding: 10px;
    border: none;
}

.login-container button, .sign-up-container button {
    color: white;
    background-color: orange;
    border: none;
    width: 200px;
    padding: 10px;
    border-radius: 5px;
}

.about-container {
    margin-top: 200px;
    padding-left: 20px;
}

.about-page-image {
   height: 300px;
   width: 500px;
   margin-left: 20px;
}

.about-container p {
    max-width: 500px;
}

@media only screen and (max-width: 1280px) {
    .home-page-container 
    .home-background-image
    img  {
        height: 200px;
    }

    .home-page-container .categories {
        padding-left: 30%;
    }
}

@media only screen and (max-width: 414px) {
    .home-page-container
    .home-background-image 
    img {
        height: 150px;
    }

    .home-page-container
    .home-background-image {
        display: flex;
        margin-left: 18px;
    }

    .home-page-container .categories {
        padding-left: 10px;
    }

    .home-page-container .categories a img {
        margin-right: 25px;
    }

    .home-page-container h3 {
        padding-left: 50px;
    }

    .grocery-container {
        grid-template: 500px /500px 500px;
    }

    .products-container
    .sidebar-container
    .sidebar a {
        font-size: 20px;
    }

    .products-container
    .sidebar-container
    .sidebar a {
        margin-bottom: 50px;
    }

    .products-container
    .sidebar-container
    .sidebar h4 {
        font-size: 20px
    }

    .item-link .item p {
        font-size: 40px;
        max-width: 400px;
    }

    .item-link .item img {
        width: 150px;
    }

    .header h2 {
        
    }


    .header .navbar a {
       
    }

    .grocery-container {
        margin-top: 150px;
        margin-left: 80px;
    }
}

@media only screen and (max-width: 375px) {

}