body {
    margin: 0;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 0;
    margin-right: 40%;
    background-color: whitesmoke;
    width: 100%;
    position: fixed;
    padding: 20px;
}

.header h2 {
    font-family:'Courier New', Courier, monospace;
    border: 2px solid black;
    font-weight: 500;
    font-size:larger;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.navbar {
    display: flex;
    gap: 50px;
}

.navbar a {
    text-decoration: none;
    color: black;
}

.home-background-image {
   margin-top: 20px;
   display: flex;
   justify-content: center;
   flex-direction: row;
}

.home-background-image > img {
  height: 250px;
  object-fit: contain;
}

@media only screen and (max-width: 700px) {
    .home-background-image > img {
        height: 110px;
    }

    .home-page-container > h3 {
        margin-left: 10px;
    }

    .header > h2 {
        margin-right: 40px;
    }

    .navbar {
        margin-right: 50px;
    }
}

.home-page-container {
    margin-top: 150px;
    
}



.home-page-container > h3 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 50px;
}

.home-page-container, 
.home-page-container 
.categories 
div a {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.categories {
    margin-top: 10px;
    display: grid;
    grid-template: 250px 250px / 250px 250px;
    margin-bottom: 20px;
}

.home-page-container 
.categories 
div a > img {
    width: 200px;
}

@media only screen and (max-width: 700px) {
    .home-page-container 
    .categories 
     div a > img {
        width: 130px;
    }

    .home-page-container 
    .categories {
        grid-template: 200px 200px / 200px 200px;
    }
}

.home-page-container 
.categories 
div 
a  p {
    margin-top: 0;
    width: 100px;
    text-align: center;
    background-color: aliceblue;
    padding: 5px;
    color: black;
}

.home-page-container 
.categories 
div 
a {
    text-decoration: none; 
}

.products-container
.sidebar-container
.sidebar a {
    text-decoration: none;
    color: black;
    padding-left: 5px;
}

.products-container
.sidebar-container
.sidebar {
    display: flex;
    flex-direction: column;
    left: 0;
    position: fixed;
    margin-top: 130px;
    gap: 20px;
    background-color: whitesmoke;
    padding: 5px;
    height: 100%;
}

.products-container {
    display: flex;
    gap: 100px;
}

.grocery-container .grocery img {
    width: 150px;
    object-fit: cover;
    padding: 10px;
}

.grocery-container .grocery img:hover {
    border-radius: 5px;
    box-shadow: 3px 3px 1px whitesmoke;
    border-top: 2px solid whitesmoke;
    border-left: 1px solid whitesmoke;
}

.grocery-container {
    margin-left: auto;
    margin-top: 200px;
    display: grid;
    grid-template: 200px 200px / 300px 300px 300px;
    gap: 150px;
}


@media only screen and (max-width: 2000px) {
    .grocery-container {
        grid-template: 250px / 150px 150px 150px 150px;
        margin-left: 100px;
    }

    .grocery-container .grocery img {
        width: 150px;
    }
    
}


@media only screen and (max-width: 700px) {
    .grocery-container {
        grid-template: 150px / 150px;
        margin-left: 200px;
    }

    .grocery-container .grocery img {
        width: 100px;
    }

    .products-container
    .sidebar-container
    .sidebar {
        gap: 40px;
    }
    
}

.grocery-link {
    text-decoration: none;
    color: black;
}